/*
Module Name= Accordion
Updated= 24.11.27 */

/*
=Project Description 
============================================= */
.pro-des {
    position: relative;
}
/*
=Accordion 
============================================= */
/*
=style the accordion */
.accordion {
    background-color: linear-gradient( rgb(242 242 242), rgb(248 248 248));
    color: transparent;
    max-height: 0;
    overflow-y: hidden; 
    padding-right: 10px; 
    transition: 0.5s ease-in-out;
}

/*
=transition the accordion's text color + max height */
.chv_checkbox:checked ~ .accordion {
    color: rgb(58 65 72);
    max-height: 100vh;
}

/*
=transition the span element's text color from transparent to red */
.chv_checkbox:checked ~ .accordion span.red {
    color: rgb(255 45 0);
}


/*
=ensure a smooth transition of the span element's text color */
.accordion span.red {
    transition: 0.5s ease-in-out;
}

/*
=Checkbox
============================================= */
.chv_checkbox {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

/*
=Chevron + Rotate Wrappers
============================================= */
/*
=style the chevron wrapper */
.chv_wrapper {
    /* background-color: gold; */
    width: 35px; height: 35px;
    position: absolute;
    top: 0; right: 0; 
    padding: 5px;
    transform: translate(8.5px, -7px);
}

/*
=style the rotate wrapper */
.chv_rotate-wrapper {
    /* background-color: white; */
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

/*
=rotate the rotate wrapper 180° when the checkbox is checked */
.chv_checkbox:checked + .chv_wrapper .chv_rotate-wrapper {
    transform: rotate(180deg);
}

/*
=Chevron Lines
============================================= */
/*
=style the chevron lines */
.chv_rotate-wrapper::before,
.chv_rotate-wrapper::after {
    content:"";
    background-color: rgb(255 45 0);
    width: 50%; height: 1.5px;
}

/*
=rotate the left chevron line 45° clockwise + fine-tune its alignment */
.chv_rotate-wrapper::before {
    transform: rotate(45deg) translate(1.7px, -1.7px);
}
/*
=rotate the right chevron line 45° anticlockwise + fine-tune its alignment */

.chv_rotate-wrapper::after {
    transform: rotate(-45deg) translate(-1.7px, -1.7px);
}

/* ========================================== */
























