/*
=Fancybox Overrides 
============================================= */
.fancybox__container {
    --carousel-button-svg-width: 2.2rem;
    --carousel-button-svg-height: 2.2rem;
    --carousel-button-svg-stroke-width: 0.15rem;
    --carousel-button-svg-color: rgb(223 220 212);
    --carousel-button-svg-filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4))
    
   }
   /* .fancybox__thumbs, */
   .fancybox__button--thumbs,
   .fancybox__button--slideshow,
   .fancybox__button--zoom,
   .fancybox__button--fullscreen {
    display: none;
   }
   /* .fancybox__toolbar {
    background: none;
   } */
   .fancybox__toolbar {
    display: none !important;
}
   .fancybox__slide {
    padding-left: 2rem;
    padding-right: 2rem;
   }
   .fancybox__counter {
    font-size: 1.4rem;
   }
   .fancybox__content {
    margin-top: 20px !important; /* Force spacing */
}

.fancybox__nav {
    display: none !important;
}

   .fancybox__caption {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    text-align: center;
   }
   /* .fancybox__backdrop {
    background: var(--fancybox-bg, rgb(223 220 212));
    background-color: aqua;

   } */
   .fancybox__backdrop {
    background: none !important;
    background-color: rgb(223 220 212) !important;
}
   