/*
=STYLE THE FAVORITES SECTION*/ 
.favorite5 {
    margin-top: 0px;
    margin-bottom: 25px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.favorite5 span {
    margin-top: 40px;
}

span.milk,
span.survivor,
span.stone,
span.climb,
span.slippers {
    margin-top: 30px;
    padding-bottom: 15px;
    padding-right: 17px;
}
span.milk a {
    font: italic 500 20px/.5 "Guyot", "Baskerville", serif; 
    letter-spacing: 0.06em;
    color: rgb( 56 56 56)

}

span.survivor a {
    font: normal 600 15px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb( 56 56 56)

}

span.stone a {
    font: normal 400 18px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.13em;
    color: rgb( 56 56 56)

}

span.climb a {
    font: normal 500 20px/.5 "Guyot", "Baskerville", serif; 
    letter-spacing: 0.06em;
    color: rgb( 56 56 56)

}

span.slippers a {
    font: normal 600 17px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.08em;
    color: rgb( 56 56 56)

}