/* 
=Common Elements
=============================================  */

* {
    box-sizing: border-box;
    margin: 0;
    padding:0; 


}

body {
    background-color: rgb(223 220 212); /*OFF WHITE*/
    font: normal 400 13px/ 1.6 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
/* }"Lucida Grande", "Lucida Sans Unicade", Arial, sans-serif; */
}



.site-title {
    text-transform: uppercase;
    color: rgb(56 56 56 .5); /* PIRATE BLACK*/
    font: normal 400 23px/ 1.1 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.1em;
    
}

h1 {
    margin-top: 20px;
    left: 400px;
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: normal 200 18px/ 2 "Guyot", "Baskerville", serif;  
    letter-spacing: 0.02em;
  
}

h2 {
    left: 400px;
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: italic 400 11px/ 2 "Guyot", "Baskerville", serif;  
    letter-spacing: 0.02em;
    font-weight: 630;
  
}

h3 {
    margin-top: 10px;
    left: 400px;
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: normal 700 14px/ 1.3 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1em; */
    /* font-weight: 630; */
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font-weight: 500;

}

h4 {
    margin-top: 5px;
    left: 400px;
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: normal 400 10px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 250;  

}

h5 {
    margin-top: 5px;
    left: 400px;
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: normal 400 16px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.07em;
    font-weight: 250;  

}




.byline {

    position: absolute;
    left: 33px;

}



li {
    list-style-type: none;
    position: relative;

}
/* get rid of bullet points or numvbers */
/*

=Main Navigation
============================================= */

.nav-bar    {
    position: absolute;
    top: 70px; left: 60px; bottom: 0;
    width: 300px; 
    background-color: transparent;
    /* /0.8= 80% opacity */
/* container for menu itmes */
}

.nav-links {

    position: absolute;
    top:90px;
    text-align: right;

}
/*
=Link States
============================================= */
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;

}

.main-content {
    position:absolute ; 
    /* top: 160px;
    left: 250px; */
    padding-bottom: 200px;
    align-items: center;
}


.second-content {

    position:absolute ; 
    top: 105px;
    left: 500px;
    align-items: center;   
    padding-bottom: 200px;

    
}



.nav-links1 {
    position:absolute ; 
    color: rgb(56 56 56); /* PIRATE BLACK*/
    font: normal 400 12px/ 2 "Guyot", "Baskerville", serif;  
    font-style: italic;
    font-weight: 630;
    letter-spacing: 0.01em;
    top: 160px;
    left: 450px;
}


.book-imgs{
    position:absolute ; 
    top: 300px;
    left: 0px;
}

.image-gallery {

    position: relative;
    top: 60px;
    max-width: 80%;
}


.about-body {
    position: absolute;
    top: 70px;
    left: 450px;
    width: 70vh;
    padding-bottom: 50px;


}
.about-body img {
    align-items: center;
    padding: 10px;
}

.inline-cnt {
    display: flex;
    align-items: center;
}

.starla {
    padding-top: 60px;
}
.lavie {
    padding-top: 60px;
}

.dizzy {
    padding-top: 60px;
}

.estuary {
    padding-top: 60px;
}
/* 

.nav-links1 p:nth-child(1) {
    top: 160px;
    left: 450px;
  
}
.nav-links1 p:nth-child(2) {
    top: 160px;
    left: 580px;
}

.nav-links1 :nth-child(5) {
    top: 160px;
    left: 700px;
  
} */

/* .book-links {
    color: rgb(56 56 56); /* PIRATE BLACK*/
    /* font: normal 400 12px/ 2 "Guyot", "Baskerville", serif;  
    font-style: italic;
    font-weight: 630;
    letter-spacing: 0.01em;

} */