/*
Name= Media Queries

/*
=X-Small Screen < 576px
============================================= */
@media (max-width: 459.98px) {
    .pge-wrapper { padding: 0 20px 40px; }
    .ins-wrapper { padding: 0 20px; }
    .img-wrapper,  
    .home-page,  
    .img-self  { flex: 0 0 100%; }
    footer {
        text-align: center;
        font-size: 6px;
        padding: 10px 20px;
    }
}

/*
=Small Screen ≥ 576px
============================================= */
@media (min-width: 460px) {
    .pge-wrapper { padding: 0 20px 60px; }
    .ins-wrapper { padding: 0 20px; }
    .img-wrapper,  
    .home-page,  
    .img-self  { flex: 0 0 50%; }
    footer {
        text-align: center;
        font-size: 6px;
        padding: 20px 40px;
    }
}

/*
=Medium Screen ≥ 768px
============================================= */
@media (min-width: 768px) {
    .pge-wrapper { padding: 0 60px 80px; }
    .ins-wrapper { padding: 0 60px; }
    footer {
        text-align: center;
        padding: 20px 40px;
    }
}


/*
=Large Screen ≥ 992px
============================================= */
@media (min-width: 992px) {
    .pge-wrapper { padding:0  100px 100px; } /* top left-right bottom */
    .ins-wrapper { padding: 0 100px; } /* top-bottom left-right */
    .img-wrapper,  
    .home-page,  
    .img-self  { flex: 0 0 50%; }
    footer {
        text-align: center;
        padding: 30px 60px;
    }
}

/* ========================================== */






























