
/*
=PREVENT FONT SCALING IN MOBILE LANDSCAPE WHILE ALLOWING USER ZOOM */
:root {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/*
=PREVENT PADDING FROM ADDING ONTO OVERALLL SIZE OF ELEMENTS */
* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
    transition: 5s ease;
}

/*
=STYLE THE BODY ELEMENT */
body {
    background-color: rgb(223 220 212); /*OFF WHITE*/
    font: normal 400 14px/ 1.6 "Scala", "Lucida Sans Unicade", Arial, sans-serif;     
    /* letter-spacing: 0.2px;
    margin: 0; */
}

/*
=PAGE WRAPPER
============================================= */
.pge-wrapper {
    background: rgb(223 220 212);
    display: flex; /* create a new block formatting context  */
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: row;
    gap: 15px;
    /* justify-content: center; */
}

/*
=HEADDER + INSIDE WRAPPER
============================================= */
/*
=HEADDER*/

/* header {
    position: fixed;
} */
/*
=STYLE THE INSIDE WRAPPER*/

.ins-wrapper {
    flex: 1;
    height: 100vh;   
    width: 200px;
    margin-top: 50px;
    /* background-color: gold; */
}

/*
=HOME PAGE
============================================= */
.home-page {
    display:flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/*
= + IMAGE SPACE
============================================= */
/*
=STYLE THE INSIDE SPACE*/
.img-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    width: 100%;
    margin-top: 90px;
    margin-bottom: 50px;
    /* background-color: blue; */
}

/*
=NAV2 CONTAINER
============================================= */
.nav2_cnt {
    padding-top: 16px;
}

/*
=NAV3 CONTAINER
============================================= */
.nav3_cnt {
    padding-top: 16px;
}

/*
=HEADING + SUBHEADING
============================================= */
/*
=STYLE THE HEADING*/ 
h1,
h2,
h3, 
h4 { 
    color: rgb(56 56 56); 
    margin: 0;
}
    
/*
=STYLE THE HEADING*/ 
h1{
    text-transform: uppercase;
    font: normal 400 23px/1.1 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.1em;
    display: flex;
    justify-content: left;
}

.pge-head a span.by {
    font: italic 630 11px/2 "Guyot", "Baskerville", serif; 
    letter-spacing: 0.02em;
    text-transform: initial;
    /* padding-left: 60px; */
    margin-left: -155px;
    margin-top: 34px;
    

}

h2 {
    font: italic 630 11px/2 "Guyot", "Baskerville", serif; 
    letter-spacing: 0.02em;
}

h3 {
    font: normal 400 14px/ 1.6 "Scala", "Lucida Sans Unicade", Arial, sans-serif;   
}


h4 {
    font: normal 250 9px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 20px;  
}

h5 {
    font: normal 100 83px/1.1 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    letter-spacing: 0.1em; 
    text-align: center;
}

/*
=EXTRA COPY
============================================= */
.book-text { padding-left: 15px; }

span.page_nbr {
    font: normal 550 9px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.16em;
    padding-bottom: 20px;  
}

span.cap {
    font: normal 250 10px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
    padding-left: 10px;  
}

span.enter {
    font: normal 250 9px/ .5 "Scala", "Lucida Sans Unicade", Arial, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 200px;
}

span.more {
    font: normal 400 14px/ 1.6 "Scala", "Lucida Sans Unicade", Arial, sans-serif;   
text-transform: initial;
}

span.sold {
    font: normal 400 12px/ 1.6 "Scala", "Lucida Sans Unicade", Arial, sans-serif;   
text-transform: uppercase;
}


/*
=NAV BAR
============================================= */
/*
=STYLE THE NAV BAR*/ 

.pge-head {
    position: fixed;
    margin-left: -5.6%;
}

nav {
    position: fixed;
    margin-top: 130px;
    margin-left: -1.2%;

}

nav a {
    text-align: left ;
    display: block;
    font: inherit;
    font-size: small;
    letter-spacing: 0.07em;
    margin-top: 10px;
}

nav a.red {
    color: rgb(199, 11, 13);

}

/*
=STYLE THE NAV BAR ON THE HOME PAGE*/ 

.title-nav {
    padding-left: 38px;
    margin-top: -100px;
}
/*
=NAV2 LINKS
============================================= */
.nav2-links {
    display: flex;
    justify-content: left;
    margin: -13px;
}

.nav2-links a.nav-name {
    /* padding-left: 30px; */
    font: italic 500 15px/2 "Guyot", "Baskerville", serif; 
    padding-left: 18px; 
    letter-spacing: 0.06em;
}

.nav2-links a.nav-name-red {
    padding-left: 30px;
    font: italic 500 15px/2 "Guyot", "Baskerville", serif; 
    padding-left: 18px; 
    letter-spacing: 0.06em;
    color: rgb(199, 11, 13);
}

/*
=NAV3 LINKS
============================================= */
.nav3-links {
    display: flex;
    justify-content: left;
    margin-left: 65px;
}

.nav3-links a.nav-name {
    font: italic 500 15px/2 "Guyot", "Baskerville", serif; 
    padding-left: 18px; 
    letter-spacing: 0.06em;
}

.nav3-links a.nav-name-red {
    font: italic 500 15px/2 "Guyot", "Baskerville", serif; 
    padding-left: 18px; 
    letter-spacing: 0.06em;
    color: rgb(199, 11, 13);
}


/*
=LINK STATES
============================================= */
a { text-decoration: none; }

a:link,
a:visited { color: inherit; }

/*
=FIGCAPTION
============================================= */
figcaption {
    padding-top: 10px;
    padding-bottom: 10px;
}



/*
=IMAGE GALLERY
============================================= */
.img-gallery {
    display:flex; 
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 20px;
    /* align-items: center; */
    justify-content: center;

}

/*
=IMAGE WRAPPER
============================================= */
.img-wrapper {
    margin: 0;
    padding: 5px;
    position: relative;
    padding-top: 20px;
}

.img-self {
    margin: 0;
    padding: 5px;
    position: relative;
    padding-top: 20px;
}

.img-wrapper img:hover {
    cursor: pointer;
}
/*
=ABOUT BODY
============================================= */

.about_body { 
    margin-bottom: 40px; 
    max-width: 80%;
}

/*
=IMAGES
============================================= */
.img-wrapper img {
    width: 100%;
    display: block;
    box-shadow: 1px 1px 2px rgb(193, 192, 187);
    align-items: center;
}

.img-self img {
    width: 100%;
    display: block;
    align-items: center;
}

/*
=LIST
============================================= */
li {
    list-style: none;
    font-style: inherit;
    padding-top: 15px;
}

/*
=FOOTER
============================================= */
.footer {
    margin-bottom: 40px;
    height: 100px;

}




